li a {
    color: #252525;
}

h1 {
    color: #BDB76B;
}

.mainmenu{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 25%;
    background-color: #f1f1f1;
    height: 100%; /* Full height */
    position: fixed; /* Make it stick, even on scroll */
    overflow: auto; /* Enable scrolling if the sidenav has too much content */
}


#sendInt {
  display: none;
}

#stTime {
  display: none;
}

/*
.graph_li {
    list-style-type: none; 
    text-align: left;
    margin: 0 auto;
    padding: 0px;
    display:flex;
    height: 150px;
    flex-direction: column;
    color: black;

}


li{
    float: right;
    padding: 2px;
    width: 150px;
    margin-top: auto ;
    margin-bottom: auto ;
}
*/
h2 {
    color: #252525;
}

body {
  background-color: white;
  font-family: "ff-tisa-web-pro",serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.45;
  color: #333;
  padding: 1em;
}

/*
 ul {
    margin: 0;
    padding: 0;
    width: 20%;
    background-color: #f1f1f1;
    height: 100%; 
    position: fixed; 
    overflow: auto; Enable scrolling if the sidenav has too much content 

}
*/

.column {
    float: left;
}

.left {
    width: 25%;
    margin-left: 25%;

}

.middle {
    width: 25%;
    margin-top: 10%
}

.right {
    width: 25%;
    margin-top: 10%
}



/* define a fixed width for the entire menu */
/*
.navigation {
  min-width: 300px;
  float: left;
}
*/
/* reset our lists to remove bullet points and padding */

.mainmenu{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 25%;
    background-color: #f1f1f1;
    height: 100%; /* Full height */
    position: fixed; /* Make it stick, even on scroll */
    overflow: auto; /* Enable scrolling if the sidenav has too much content */
}




.mainmenu,
.submenu {
  list-style: none;
  padding: 0;
  margin: 0;
}
/* make ALL links (main and submenu) have padding and background color */

.mainmenu a {
  background-color: #CCC;
  text-decoration: none;
  padding: 10px;
  color: #000;
}
/* add hover behaviour */

.mainmenu a:hover {
  background-color: #C5C5C5;
}
/* when hovering over a .mainmenu item,
      display the submenu inside it.
      we're changing the submenu's max-height from 0 to 200px;
    */

.mainmenu li:hover .submenu {
  display: block;
  min-height: 200px;
  height: auto;
}
/*
      we now overwrite the background-color for .submenu links only.
      CSS reads down the page, so code at the bottom will overwrite the code at the top.
    */

.navli{
  display: block;
  float: left;
}
.submenu a {
  background-color: #999;
}
/* hover behaviour for links inside .submenu */

.submenu a:hover {
  background-color: #666;
}
/* this is the initial state of all submenus.
      we set it to max-height: 0, and hide the overflowed content.
    */

.submenu {
  overflow: hidden;
  max-height: 0;
  -webkit-transition: all 0.5s ease-out;
}



/* 
  This is the css code that is used for the animations
    */

  #wrapper2 {
       width: 1005px;
       margin: 0 auto;
  }
  #leftcolumn, #middlecolumn, #rightcolumn {
      float: left;
      height: 150px;
      color: white;
  }
  #leftcolumn {
       width: 100px;
  }
  #middlecolumn {
       width: 600px;
  }

  #rightcolumn {
       width: 100px;
  }




