<!DOCTYPE html>
{% load static %}


<head>
    {% load static %}
    <script type="text/javascript" src="{% static "getData/js/node_modules/chart.js/dist/Chart.js" %}"> </script>
    <script type="text/javascript" src="{% static "getData/js/node_modules/smoothie/smoothie.js" %}"> </script>
    <script type="text/javascript" src="{% static "getData/js/node_modules/jquery/dist/jquery.min.js" %}"> </script>

    <link rel="stylesheet" type="text/css" href="{% static 'getData/box_style.css' %}" />
</head>


<body>


    <div class=row id="wrap">
    
    <button id="view_video">  Start_Video </button>
    <button id="stop_video">  Stop Video</button>

    <script type="text/javascript">
        $(document).ready( function() {
            //alert("You clicked the button using JQuery!");

            $("#view_video").click( function() {   
                    
                    $.post("/getData/{{box_nr}}/start_video/",
                        {click: "this is a string"},
                        function (data) {
                            
                            //alert("You clicked the button using JQuery!");

                            // success callback
                            // you can process data returned by function from views.py
                        }
                    );
                });

            $("#stop_video").click( function() {   
                    
                    $.post("/getData/{{box_nr}}/stop_video/",
                        {click: "this is a string"},
                        function (data) {
                            
                            //alert("You clicked the button using JQuery!");

                            // success callback
                            // you can process data returned by function from views.py
                        }
                    );
                });
        
        });
    </script>


        <nav class="navigation">
                <ul class="mainmenu">
                  <li> <a href="/getData/">Home</a> </li>
                  <li><a href="#news">Go to box</a>
                    <ul class="submenu">
                        {% for box_n in boxs %}
                        <li><a  href="/getData/{{box_n}}/"> Box Nr: {{box_n}}</a></li>
                        {% endfor %}
                    </ul>
                  </li>
                  <li><a href="#contact">Mouse History</a></li>
                  <li><a href="#about">About</a></li>
                </ul>
        </nav>


          <div class="column left">

                <div id="control_box">

                <p id="testp"> This is a test </p>
                <p id="testp1"> "{% static "getData/ims/IMG_0170.jpg" %}" </p>
                <p id="testp2"> Testp2 </p>

                <img id="testim" src="{% static "getData/ims/IMG_0170.jpg" %}" height=480, width=480> </img>

                
                <h1> Box {{box_nr}} </h1>


                {% if isOnline %}
                    <font color="green">The box is online!</font> 
                {% endif %}

                {% if not isOnline %}
                    <font color="red">The box is offline</font> 
                {% endif %}



                <p> <a href="{% url 'getData:set_mouse_ID' box_nr %}" > Change the ID of the Mouse in this cage
                 </a> </p> 
                Current id is: {{mouse_ID}}
                <br>
                <p> <a href="/getData/{{box_nr}}/set_mouse_task/"> Change the task schedule for this cage </a> </p>
                The Current Task Schedule is:
                <br>
                    
                <li> Task: {{task_name}} </li>
                <li>  duration: {{time_elapsed}} </li>


                <br>
                <br>

                <p> <a href="/getData/{{box_nr}}/{{isOnline}}/upload_new_task"> Upload New Task to Server and Cage
                 </a> </p> 

                </div>


            </div>
        <div class="column middle" id="right_col">
            <p class="hidden" id="sendInt"> </p>
            <p class="hidden" id="stTime"> </p>


<!--           <video autoplay controls width=256 height=256 ></video>
            <script src="{% static "getData/js/get_picam_stream.js" %}"></script>
            -->
        </div>

        <div class= "column right">
                <h1> Data </h1>
                <h2 id="p1t"> text </h2>

                <input type="file" name="file" id="file">
                
                <div style="height: 300px; width: 300px">
                    <canvas id="myChart" width="200" height="200"></canvas>
                </div>
        </div>
                


        <div id="wrapper2">

            <div id="leftcolumn">
                <ul class="graph_li" id="legend">
                </ul>
            </div>

            <div id="middlecolumn">
                <div style="height: 150px; width: 600px">
                    <canvas id="myChart_smooth" width="600" height="150"></canvas>

                    <script>    
                        var chatSocket = new WebSocket(
                        'ws://' + window.location.host +
                        '/ws/getData/' + "{{box_nr}}" + '/');

                        //var videoSocket = new WebSocket(
                        //'ws://' + window.location.host +
                        //'/ws/getData/' + "{{box_nr}}" + '/getPi_vid');

                        var counter = 0;
                        document.getElementById("testp").innerHTML = 0

                        setInterval(function() {
                            var txt1 = document.getElementById("testp").innerHTML
                            chatSocket.send(JSON.stringify({'message': txt1,
                                                            'box_ID': "{{box_nr}}"}))
                        }, 50 );





                         chatSocket.onmessage = function(e) {
                                var data = JSON.parse(e.data);
                                var message = data['message'];
                                document.getElementById("testp").innerHTML = data['message'];
                                var img_str = data['img_loc']
                                document.getElementById("testp2").innerHTML = "{% get_media_prefix %}" + img_str
                                document.getElementById('testim').src = "{% get_media_prefix %}" +"box_" + "{{box_nr}}" +'/' + img_str
                            };


                        chatSocket.onclose = function(e) {
                        console.error('Chat socket closed unexpectedly');
                    }


                    </script>

                </div>
            </div>

            <div id="rightcolumn">

                <ul class="graph_li" id="event_info">
                </ul>
            </div>

        <script>
                 var Dtemp = " {{  dataStr }} "
         </script> 

         <script src="{% static "getData/js/read_data.js" %}">  
          </script>
        </div>

        </div>
    </div>
</body>