{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'getData/video-js.min.css' %}" />




<h1> Box {{box_nr}} </h1>

{% if isOnline %}
 <font color="green">The box is online!</font> 
{% endif %}

{% if not isOnline %}
 <font color="red">The box is offline</font> 
{% endif %}
<br>



<p> <a href="{% url 'getData:set_mouse_ID' box_nr %}" > Change the ID of the Mouse in this cage
 </a> </p> 
Current id is: {{mouse_ID}}
<br>
<br>
<br>
<p> <a href="/getData/{{box_nr}}/set_mouse_task/"> Change the task schedule for this cage </a> </p>
The Current Task Schedule is:
<br>
<br>
{% for task, duration, completed in task_names_and_durations %}
	
<li> Task: {{task}} , duration: {{duration}},
<br> Completed: {{completed}}

<br>
<br>
{% endfor %}
<br>
<br>

Total scheduled run time is {{total_duration}}
<br>
<br>
{{time_elapsed}} have elapsed
<br>
<br>
<br>
<p> <a href="/getData/{{box_nr}}/{{isOnline}}/upload_new_task"> Upload New Task to Server and Cage
 </a> </p> 

<aside>
	<video autoplay></video>
	<script src="{% static "getData/js/get_picam_stream.js" %}"></script>
</aside>
<!--<video autoplay></video>
<script src="{% static "getData/js/getUserMedia.js" %}"></script>
-->


<!--
 <video width="512" height="512" controls>
  <source src="{% static "getData/videoF/test.m3u8" %}">
Your browser does not support the video tag.
</video>

<link href={% static "getData/node_modules/video.js/dist/video-js.min.css" rel="stylesheet">

<video id=example-video width=256 height=256 data_setup="{}" class="video-js vjs-default-skin" controls>
  <source
     src={% static "getData/videoF/test.m3u8" %}
     type="application/x-mpegURL">
</video>

<script src="{% static "getData/node_modules/video.js/dist/video.min.js" %}"></script>
<script src="{% static "getData/node_modules/videojs-contrib-hls/dist/videojs-contrib-hls.min.js" %}"></script>


<script>
var player = videojs('example-video',
					{"preload": 'auto',
					"controls": true,
					autoplay: true
					});
player.play();
</script>
-->

